<a href="https://colab.research.google.com/github/glenda2912/Tous12/blob/main/01_%2C_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction 

Here, in this file, we are going to *code* 

we are going to understand Python, how its works, and some tricks.

# 1. What is Python?

It was created in 1991 and its a **general-purpuse progaming langiage**

This means that Pyhton is used for: 

* Data analysis
* Automating task
* Machine learning 
* Data Visualization 
* Optimization 
* Web development 
* User Interfaces creation 
* Create another software
* Create video games 

The word runs of Python, C++, Java and HTLM /CSS, and R?

# 2. Why Python?

The main reasons: 

 * It is simple. 
 * Focus. 
 * Easy to learn 
 * Open-source: It is free.
 * Cross-plaform.
 * Extensive libraries.

# 3. Getting Started

## 3.1. Python as a Calculator

In [ ]:
 # Addition  
2 + 2

4

In [ ]:
# Subtraction
23-7

16

In [ ]:
# Multiplication 
13 * 7

91

In [ ]:
# Division 
10 /3

3.3333333333333335

In [ ]:
# Integer Division 
10 // 3

3

## 3.3 Integers and Real Numbers

In [14]:
from typing_extensions import Type
 # Interger (with no decimal positions)
 Type 26

IndentationError: ignored

In [8]:
# Examples 
# Find out in the next expressions are int or floats 
2 + 3.0
2.5*7
4.0/2

2.0

In [10]:
 type(2 + 3.0)

float

 ## Scientific notation

In [26]:
# Example 

5e1

50.0

In [16]:
# Example 
6e-2

0.06

In [17]:
type(5e1)

float

In [20]:
# Practice 
# Write 1millon in scientific notation 
# What is the result of 3e0.2

In [23]:
# Write 1millon in scientific notation 

1e6

1000000.0

In [24]:
# What is the result of 3e0.2?

3e02

300.0

### Transformation 
  You can the of type() a number. Or you can force of a type() number

In [28]:
float(6)

6.0

In [31]:
#Example
int(3.33333)

3